body{
    margin: 0;
    padding: 0;
    background-image: url(../image/usrbg.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.transbox{
    width: 320px;
    height: 470px;
    background-color: #000;
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}
h1{
    margin: 0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.transbox input{
    width: 100%;
    margin-bottom: 20px;
}
.transbox input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.transbox .a{
    border: none;
    outline: none;
    height: 20px;
    width: 50%;
    margin-left: 70px;
    border-radius: 20px;
    background: gray;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.a:hover{
    cursor: pointer;
    color:gray;
    background: white;
}
.b{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: darkorange;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.b:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}